@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"), url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space mono", monospace;
}

.container {
  max-width: 1106px;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*main section1*/
main {
  padding-top: 96px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section1__banner {
    background-image: url(../images/main_section1_img@2x.png);
  }
}
.section1__banner {
  max-width: 1440px;
  height: 650px;
  margin: 0 auto;
  background-image: url(../images/main_section1_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section1__line {
  max-width: 1440px;
  height: 650px;
  background-image: url(../images/line1.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.line2 {
  background-image: url(../images/line2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.section1__div h1 {
  padding: 153px 0 120px 0px;
  max-width: 600px;
  height: 112px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.section1__div p {
  margin: 35px 0 50px 90px;
  max-width: 400px;
  height: 100px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.section1__div a {
  margin-left: 90px;
  padding: 13px 39px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  background: #FCB72B;
}
.section1__div a:hover {
  padding: 12px 39px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
  background-color: #5D6476;
  border: 1px solid #FCB72B;
}

@media (max-width: 660px) {
  .section1__div h1 {
    margin: 0 auto;
    text-align: center;
  }
  .section1__div p {
    max-width: 311px;
    height: 125px;
    margin: 40px auto;
    text-align: center;
  }
  .section1__div a {
    margin-left: 200px;
  }
  .section1__line {
    background-image: none;
  }
  .line2 {
    background-image: none;
  }
  .line3 {
    background-image: none;
  }
  .line4 {
    background-image: url(../images/line4.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
@media (min-width: 661px) and (max-width: 1000px) {
  .header__nav {
    margin: 0 auto;
    text-align: center;
  }
  .section1__div h1 {
    margin: 0 auto;
    text-align: center;
  }
  .section1__div p {
    max-width: 573px;
    height: 75px;
    margin: 40px auto;
    text-align: center;
  }
  .section1__div a {
    margin-left: 300px;
  }
  .section1__line {
    background-image: none;
  }
  .line2 {
    background-image: none;
  }
  .line3 {
    background-image: url(../images/line3.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
/*end off main section1*/
/*main section2*/
/*end off main section2*/
header {
  position: fixed;
  width: 100%;
  background-color: white;
}

.header__section .header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px;
}
.header__section .header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__section .header__ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.mobile__burger {
  display: none;
}

.header__list {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__get {
  padding: 13px 39px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
}
.header__get:hover {
  padding: 12px 39px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
  background-color: #FFFFFF;
  border: 1px solid #FCB72B;
}

#menu {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

@media (max-width: 660px) {
  .logo {
    margin: 0 auto;
  }
  .header__ul {
    padding: 64px 135px 0 0;
    flex-direction: column;
    position: absolute;
    top: 79px;
    left: 0;
    background-color: #333A44;
    width: 70%;
    height: 100vh;
    transform: translate(-100%);
  }
  .header__list {
    color: #FFFFFF;
  }
  .header__get {
    display: none;
  }
  .mobile__burger {
    display: block;
  }
  #menu:checked ~ .header__ul {
    transform: translateX(0);
  }
}
@media (min-width: 661px) and (max-width: 1000px) {
  .header__menu {
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */